<section class="cta-section-bg" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">
          Combien ça coûte ? Comment le mettre en place ?
        </h2>
        <hr class="light" />
        <p>
          Pour en savoir plus envoyez-nous un mail ou contactez-nous sur les
          reseaux. Nous vous répondrons le plus rapidement possible.
        </p>
        <a href="mailto:contact@pyronear.com" class="btn btn-default btn-xl"
          >Nous contacter</a
        >
      </div>
    </div>
  </div>
</section>
