<pattern id="user_image_container" patternUnits="objectBoundingBox">
  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">
            Nous sommes Pyronear, une association loi 1901.
          </h2>
          <hr class="light" />
          <p>
            Nous sommes des bénévoles au service du bien commun et du logiciel
            libre.
          </p>
          <p>
            Nous pensons que la protection des forêt ne doit pas être reservée à
            l'État et qu'elle nécessite la technologie la plus efficace,
            transparente et abordable.
          </p>
          <a href="mailto:contact@pyronear.com" class="btn btn-default btn-xl"
            >Nous contacter</a
          >
        </div>
      </div>
    </div>
  </section>
</pattern>
