<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Comment ça marche</h2>
        <hr class="primary" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="service-box">
          <p class="emoji">
            <span alt="Observateur">👀</span>
          </p>
          <!-- <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i> -->
          <h3>1. Observation de la zone</h3>
          <p class="text-muted">
            Nos détecteurs placés en hauteur observent et photographient les alentours de la zone forestière.
          </p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="service-box">
          <p class="emoji">
            <span alt="Robot">🤖</span>
          </p class="emoji">
          <h3>2. Analyse des photos</h3>
          <p class="text-muted">
            Les photos sont envoyées à notre intelligence artificielle qui les analyse et les trie.
          </p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="service-box">
            <p class="emoji">
                <span alt="Alerte">🚨</span>
              </p class="emoji">
          <h3>3. Alerte !</h3>
          <p class="text-muted">En cas de fumée suspecte, l'alerte est donnée automatiquement.</p>
        </div>
      </div>
    </div>
  </div>
</section>
